@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

html,
body {
  height: 100%;
}
body {
  overflow: hidden;
}

.ocean {
  float: right;
  height: 100%;
  width: 100vh;
  position: absolute;
  background: linear-gradient(#fbb69d 0%, #f4d4bd 100%);
  transform: rotate(-90deg);
  margin-left: 60%;
  z-index: -1;
}

.wave {
  background: url(./assets/Sidebar.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 3400px;
  height: 2000px;
  animation: wave 24s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -140px;
  animation: wave 24s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 24s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes expand {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

menu {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cccccc;
}

.item {
  padding: 2px 6px;
  cursor: default;
}

.titleSmall {
  font-family: "Playfair Display";
  color: black;
  text-decoration: none;
  font-size: 16;
  font-weight: 600;
  animation-name: expand;
  animation-duration: 1s;
}
